# logistic regression

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold

In [5]:
col_names=['marks1','marks2','admission']
ds=pd.read_csv("/home/ignis/Downloads/Student.csv",header=None,names=col_names)

In [6]:
ds

       marks1     marks2  admission
0   34.623660  78.024693          0
1   30.286711  43.894998          0
2   35.847409  72.902198          0
3   60.182599  86.308552          1
4   79.032736  75.344376          1
..        ...        ...        ...
95  83.489163  48.380286          1
96  42.261701  87.103851          1
97  99.315009  68.775409          1
98  55.340018  64.931938          1
99  74.775893  89.529813          1

[100 rows x 3 columns]

In [7]:
x=ds.iloc[:,[0,1]].values

In [8]:
y=ds.iloc[:,2].values

In [9]:
xp=preprocessing.scale(x)

In [10]:
kf=KFold(n_splits=5)

In [20]:
for train_index,test_index in kf.split(xp):
    xtrain,xtest,ytrain,ytest=train_test_split(xp,y,test_size=0.20)
    x1=xtrain[:,0]
    x2=xtrain[:,1]
    b0=0.01
    b1=0.04
    b2=0.03
    epoch=10000
    alpha=0.001
    while(epoch>0):
        for i in range(len(xtrain)):
            prediction=1/(1+np.exp(-(b0+b1*x1[i]+b2*x2[i])))
            b0=b0+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*1.0
            b1=b1+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*x1[i]
            b2=b2+alpha*(ytrain[i]-prediction)*prediction*(1-prediction)*x2[i]
            epoch=epoch-1

In [24]:
print(b0)
print(b1)
print(b2)
print(prediction)

0.18321683480890152
0.521598515926664
0.4777131084538557
0.3914791382186397

In [14]:
final_pred=[]
print(xtest)
x3=xtest[:,0]
x4=xtest[:,1]
print(x3)
print(x4)
print(xtest[0])
print(ytest)

[[-0.70239602  0.1736574 ]
 [-0.69916396 -0.16735724]
 [-0.53222578 -0.06977207]
 [ 0.05694243 -0.28289384]
 [ 1.46947562  0.59152637]
 [ 1.33883167  1.2155077 ]
 [-0.56863523 -0.7576197 ]
 [ 1.65290418  0.14275969]
 [-0.26788246  0.37172177]
 [ 0.86383711 -1.38476189]
 [-1.2077347   1.12938152]
 [ 0.17694982 -0.72913975]
 [ 0.11893077 -1.05699346]
 [-0.17423248  0.20186768]
 [ 0.7604318   1.33794685]
 [-1.70794943  1.5888117 ]
 [ 1.28116721  1.15128248]
 [ 0.47234786 -1.33310268]
 [ 0.1921582   1.70347834]
 [-1.08343328  0.012336  ]]
[-0.70239602 -0.69916396 -0.53222578  0.05694243  1.46947562  1.33883167
 -0.56863523  1.65290418 -0.26788246  0.86383711 -1.2077347   0.17694982
  0.11893077 -0.17423248  0.7604318  -1.70794943  1.28116721  0.47234786
  0.1921582  -1.08343328]
[ 0.1736574  -0.16735724 -0.06977207 -0.28289384  0.59152637  1.2155077
 -0.7576197   0.14275969  0.37172177 -1.38476189  1.12938152 -0.72913975
 -1.05699346  0.20186768  1.33794685  1.5888117   1.15128248 -1.33310268
  1.70347834  0.012336  ]
[-0.70239602  0.1736574 ]
[1 0 1 1 1 1 0 1 1 0 1 1 0 1 1 0 1 0 1 0]

In [28]:
y_pred=[0]*len(xtest)
for i in range(len(xtest)):
    y_pred[i]=np.round(1/(1+np.exp(-(b0+b1*x3[i]+b2*x4[i]))))
    final_pred.append(np.ceil(y_pred[i]))

In [29]:
print(final_pred)

[0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0]

In [30]:
from sklearn.metrics import accuracy_score
print("Accuracy",accuracy_score(ytest,y_pred))

Accuracy 0.65